@page "/scatter-chart"
@inject IChartService chartService
@inject IJSRuntime jsRuntime


<h3>Scatter Chart</h3>

<figure class="highcharts-figure">
    <div id="scatterchart"></div>
</figure>

<h4>Code Example</h4>
<pre class="prettyprint opacity-load">
@@code{
    private ChartObject ScatterChart = new ChartObject()
    {
        Chart = new Chart()
        {
            Type = ChartType.Scatter,
            ZoomType = ZoomType.XY
        },
        Title = new Title("Height Versus Weight of 507 Individuals by Gender"),
        Subtitle = new Title("Source: Heinz  2003"),
        XAxis = new XAxis()
        {
            Title = new Title("Height (cm)"),
            StartOnTick = true,
            EendOnTick = true,
            ShowLastLabel = true,
        },
        YAxis = new YAxis()
        {
            Title = new Title("Weight (kg)")
        },
        Legend = new Legend()
        {
            Layout = Layout.Vertical,
            Align = Align.Left,
            VerticalAlign = Align.Top,
            X = 100,
            Y = 70,
            Floating = true,
            BorderWidth = 1
        },
        PlotOptions = new PlotOptions()
        {
            Scatter = new Scatter()
            {
                Marker = new Marker()
                {
                    Radius = 5,
                    States = new States()
                    {
                        Hover = new Hover()
                        {
                            Enabled = true,
                            LineColor = "rgb(100,100,100)"
                        },
                    }
                },
                States = new States()
                {
                    Hover = new Hover()
                    {
                        Marker = new Marker(false)
                    }
                },
                Tooltip = new Tooltip()
                {
                    HeaderFormat = "&lt;b>{series.name}&lt;/b>&lt;br>",
                    PointFormat = "{point.x} cm, {point.y} kg"
                }


            }
        },
        Series = new List&lt;SeriesElement>()
        {
            new SeriesElement()
            {
                Name = "Female",
                Color = "rgba(223, 83, 83, .5)",
                Data =new List&lt;object>()
        {
                    {new List&lt;object>(){161.2, 51.6}},
                    {new List&lt;object>(){167.5, 59.0}},
                    {new List&lt;object>(){159.5, 49.2}},
                    {new List&lt;object>(){157.0, 63.0}},
                    {new List&lt;object>(){155.8, 53.6}},
                    {new List&lt;object>(){170.0, 59.0}},
                    {new List&lt;object>(){159.1, 47.6}},
                    {new List&lt;object>(){166.0, 69.8}},
                    {new List&lt;object>(){176.2, 66.8}},
                    {new List&lt;object>(){160.2, 75.2}},
                    {new List&lt;object>(){172.5, 55.2}},
                    {new List&lt;object>(){170.9, 54.2}},
                    {new List&lt;object>(){172.9, 62.5}},
                    {new List&lt;object>(){153.4, 42.0}},
                    {new List&lt;object>(){160.0, 50.0}},
                    {new List&lt;object>(){147.2, 49.8}},
                    {new List&lt;object>(){168.2, 49.2}},
                    {new List&lt;object>(){175.0, 73.2}},
                    {new List&lt;object>(){157.0, 47.8}},
                    {new List&lt;object>(){167.6, 68.8}},
                    {new List&lt;object>(){159.5, 50.6}},
                    {new List&lt;object>(){175.0, 82.5}},
                    {new List&lt;object>(){166.8, 57.2}},
                    {new List&lt;object>(){176.5, 87.8}},
                    {new List&lt;object>(){170.2, 72.8}}
                }

            },
            new SeriesElement()
            {
                Name = "Male",
                Color = "rgba(119, 152, 191, .5)",
                Data =new List&lt;object>()
        {
                    {new List&lt;object>(){174.0, 65.6}},
                    {new List&lt;object>(){175.3, 71.8}},
                    {new List&lt;object>(){193.5, 80.7}},
                    {new List&lt;object>(){186.5, 72.6}},
                    {new List&lt;object>(){187.2, 78.8}},
                    {new List&lt;object>(){181.5, 74.8}},
                    {new List&lt;object>(){184.0, 86.4}},
                    {new List&lt;object>(){184.5, 78.4}},
                    {new List&lt;object>(){175.0, 62.0}},
                    {new List&lt;object>(){184.0, 81.6}},
                    {new List&lt;object>(){180.0, 76.6}},
                    {new List&lt;object>(){177.8, 83.6}},
                    {new List&lt;object>(){192.0, 90.0}},
                    {new List&lt;object>(){176.0, 74.6}},
                    {new List&lt;object>(){174.0, 71.0}},
                    {new List&lt;object>(){184.0, 79.6}},
                    {new List&lt;object>(){192.7, 93.8}},
                    {new List&lt;object>(){171.5, 70.0}},
                    {new List&lt;object>(){173.0, 72.4}},
                    {new List&lt;object>(){176.0, 85.9}}
            }
            }

        }
    };

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        chartService.RenderChart("scatterchart", ScatterChart.Generate());
        jsRuntime.InvokeVoidAsync("prettyPrint");
    }
}
</pre>

@code{
    private ChartObject ScatterChart = new ChartObject()
    {
        Chart = new Chart()
        {
            Type = ChartType.Scatter,
            ZoomType = ZoomType.XY
        },
        Title = new Title("Height Versus Weight of 507 Individuals by Gender"),
        Subtitle = new Title("Source: Heinz  2003"),
        XAxis = new XAxis()
        {
            Title = new Title("Height (cm)"),
            StartOnTick = true,
            EendOnTick = true,
            ShowLastLabel = true,
        },
        YAxis = new YAxis()
        {
            Title = new Title("Weight (kg)")
        },
        Legend = new Legend()
        {
            Layout = Layout.Vertical,
            Align = Align.Left,
            VerticalAlign = Align.Top,
            X = 100,
            Y = 70,
            Floating = true,
            BorderWidth = 1
        },
        PlotOptions = new PlotOptions()
        {
            Scatter = new PlotOptionsScatter()
            {
                Marker = new Marker()
                {
                    Radius = 5,
                    States = new States()
                    {
                        Hover = new Hover()
                        {
                            Enabled = true,
                            LineColor = "rgb(100,100,100)"
                        },
                    }
                },
                States = new States()
                {
                    Hover = new Hover()
                    {
                        Marker = new Marker(false)
                    }
                },
                Tooltip = new Tooltip()
                {
                    HeaderFormat = "<b>{series.name}</b><br>",
                    PointFormat = "{point.x} cm, {point.y} kg"
                }


            }
        },
        Series = new List<SeriesElement>()
        {
            new SeriesElement()
            {
                Name = "Female",
                Color = "rgba(223, 83, 83, .5)",
                Data =new List<object>()
        {
                    {new List<object>(){161.2, 51.6}},
                    {new List<object>(){167.5, 59.0}},
                    {new List<object>(){159.5, 49.2}},
                    {new List<object>(){157.0, 63.0}},
                    {new List<object>(){155.8, 53.6}},
                    {new List<object>(){170.0, 59.0}},
                    {new List<object>(){159.1, 47.6}},
                    {new List<object>(){166.0, 69.8}},
                    {new List<object>(){176.2, 66.8}},
                    {new List<object>(){160.2, 75.2}},
                    {new List<object>(){172.5, 55.2}},
                    {new List<object>(){170.9, 54.2}},
                    {new List<object>(){172.9, 62.5}},
                    {new List<object>(){153.4, 42.0}},
                    {new List<object>(){160.0, 50.0}},
                    {new List<object>(){147.2, 49.8}},
                    {new List<object>(){168.2, 49.2}},
                    {new List<object>(){175.0, 73.2}},
                    {new List<object>(){157.0, 47.8}},
                    {new List<object>(){167.6, 68.8}},
                    {new List<object>(){159.5, 50.6}},
                    {new List<object>(){175.0, 82.5}},
                    {new List<object>(){166.8, 57.2}},
                    {new List<object>(){176.5, 87.8}},
                    {new List<object>(){170.2, 72.8}}
                }

            },
            new SeriesElement()
            {
                Name = "Male",
                Color = "rgba(119, 152, 191, .5)",
                Data =new List<object>()
        {
                    {new List<object>(){174.0, 65.6}},
                    {new List<object>(){175.3, 71.8}},
                    {new List<object>(){193.5, 80.7}},
                    {new List<object>(){186.5, 72.6}},
                    {new List<object>(){187.2, 78.8}},
                    {new List<object>(){181.5, 74.8}},
                    {new List<object>(){184.0, 86.4}},
                    {new List<object>(){184.5, 78.4}},
                    {new List<object>(){175.0, 62.0}},
                    {new List<object>(){184.0, 81.6}},
                    {new List<object>(){180.0, 76.6}},
                    {new List<object>(){177.8, 83.6}},
                    {new List<object>(){192.0, 90.0}},
                    {new List<object>(){176.0, 74.6}},
                    {new List<object>(){174.0, 71.0}},
                    {new List<object>(){184.0, 79.6}},
                    {new List<object>(){192.7, 93.8}},
                    {new List<object>(){171.5, 70.0}},
                    {new List<object>(){173.0, 72.4}},
                    {new List<object>(){176.0, 85.9}}
            }
            }

        }
    };

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        chartService.RenderChart("scatterchart", ScatterChart.Generate());
        jsRuntime.InvokeVoidAsync("prettyPrint");
    }
}