@page "/"
@page "/test"

<h3>TestPage</h3>

<AvalonSolidGauge></AvalonSolidGauge>
<AvalonSolidGauge uniqueID="123" displayVal="100"></AvalonSolidGauge>
<AvalonSolidGauge uniqueID="1234" displayVal="80" chartHeight="250"></AvalonSolidGauge>



@code {

}
