@page "/"
@page "/test"

<h3>TestPage</h3>

<div style="font-family:sans-serif" class="row">

<AvalonSolidGauge></AvalonSolidGauge>
<AvalonSolidGauge uniqueID="12345" displayVal="20"></AvalonSolidGauge>
<AvalonSolidGauge uniqueID="1235" displayVal="40" ></AvalonSolidGauge>
<AvalonSolidGauge uniqueID="12350" displayVal="60"></AvalonSolidGauge>
<AvalonSolidGauge uniqueID="1236" displayVal="80" ></AvalonSolidGauge>
<AvalonSolidGauge uniqueID="123" displayVal="100"></AvalonSolidGauge>

</div>
<div style="font-family:Roboto" class="row">

<AvalonSolidGauge uniqueID="12372" displayVal="0" ></AvalonSolidGauge>
<AvalonSolidGauge uniqueID="1238469" displayVal="20"></AvalonSolidGauge>
<AvalonSolidGauge uniqueID="12375" displayVal="40" ></AvalonSolidGauge>
<AvalonSolidGauge uniqueID="12378" displayVal="60" ></AvalonSolidGauge>
<AvalonSolidGauge uniqueID="123777" displayVal="80" ></AvalonSolidGauge>
<AvalonSolidGauge uniqueID="12384" displayVal="100"></AvalonSolidGauge>


</div>


@code {

}
