@page "/"
@page "/test"

<h3>TestPage</h3>

<div style="font-family:sans-serif" class="row">

<AvalonSolidGauge></AvalonSolidGauge>
<AvalonSolidGauge uniqueID="12345" data="20" chartHeight="200"></AvalonSolidGauge>
<AvalonSolidGauge uniqueID="1235" data="40" chartHeight="250" chartWidth="250" ></AvalonSolidGauge>
<AvalonSolidGauge uniqueID="12350" data="60" chartHeight="250" chartWidth="200"></AvalonSolidGauge>
<AvalonSolidGauge uniqueID="1236" data="80" ></AvalonSolidGauge>
<AvalonSolidGauge uniqueID="123" data="100"></AvalonSolidGauge>

</div>
<br />

<div style="font-family:Roboto" class="row">

<AvalonDoubleColumn></AvalonDoubleColumn>


</div>


@code {

}
