@page "/"
@page "/test"

<h3>TestPage</h3>
<div class="row">
    <button class="btn btn-primary" @onclick="ChangeData">Push me</button>
</div>
<br />
<div class="row">

    <AvalonSolidGauge data=@dat sameColorTitle="false"></AvalonSolidGauge>
    <AvalonSolidGauge uniqueID="12345" data=@dat1></AvalonSolidGauge>
    <AvalonSolidGauge uniqueID="1235" data=@dat2></AvalonSolidGauge>
    <AvalonSolidGauge uniqueID="12350" data=@dat3></AvalonSolidGauge>
    <AvalonSolidGauge uniqueID="1236" data=@dat4></AvalonSolidGauge>
    <AvalonSolidGauge uniqueID="123" data=@dat5 innerRadius="70%" outerRadius="100%"></AvalonSolidGauge>

</div>
<br />


<div>
    <AvalonFatColumn pointWidth="60" ChartWidth="500" data="columDat"></AvalonFatColumn>

</div>
<div>
    <AvalonComboChart series="@comboData" plotLines="@myPlotLines" plotOptions="@myPlotOptions"></AvalonComboChart>
</div>

@code {

    public long? dat { get; set; } = 69;
    public long? dat1 { get; set; } = 69;
    public long? dat2 { get; set; } = 69;
    public long? dat3 { get; set; } = 69;
    public long? dat4 { get; set; } = 69;
    public long? dat5 { get; set; } = 69;

    public List<PlotLine> myPlotLines = new List<PlotLine>()
{
        new PlotLine()
        {
        Color = "red",
        DashStyle = DashStyle.Longdashdot,
        Value = 319,
        Width = 1,
        ZIndex = 5,
        Label = new Label()
        {
            Align = Align.Left,
            Text = "Retirement"
        },
        Id = "PlotLine"
        }
    };

    public PlotOptions myPlotOptions = new PlotOptions()
    {
        Area = new PlotOptionsArea()
        {
            Stacking = Stacking.Normal
        },
        Series = new PlotOptionsSeries()
        {
            Label = new Label() { Enabled = false },
            FillOpacity = 0.9,
            LineWidth = 1,
            Animation = new Animation(2000),
        }
    };

    public List<SeriesElement> comboData = new List<SeriesElement>()
{
        new SeriesElement()
        {
            Type = ChartType.Area,
            Name= "Lifestyle",
            Data= new List<object>(){ 1039275,1034241,1029231,1024245,1019284,1014347,1009433,1004543,999677,994835,990016,985220,980448,975699,970973,966269,961589,956931,952295,947682,943092,938524,933977,929453,924951,920471,916012,911575,907159,902765,898392,894040,889709,885400,881111,876843,872595,868369,864162,859976,855810,851665,847540,843434,839348,835283,831237,827210,823203,819216,815247,811298,807368,803457,799566,795693,791838,788003,784185,780387,776607,772845,769101,765376,761668,757979,754307,750653,747017,743399,739798,736214,732648,729099,725567,722053,718555,715074,711611,708163,704733,701319,697922,694542,691177,687829,684497,681182,677882,674598,671331,668079,664843,661622,658417,655228,652054,648895,645752,642624,639511,636414,633331,630263,627210,624172,621148,618140,615145,612166,609200,606249,603313,600390,597482,594588,591708,588841,585989,583150,580326,577515,574717,571933,569163,566406,563662,560932,558215,555511,552820,550142,547477,544825,542186,539560,536946,534345,531757,529181,526618,524067,521528,519002,516488,513986,511496,509019,506553,504099,501657,499227,496809,494403,492008,489624,487253,484892,482544,480206,477880,475565,473262,470969,468688,466417,464158,461910,459672,457446,455230,453025,450830,448646,446473,444311,442158,440017,437885,435764,433653,431553,429462,427382,425312,423251,421201,419161,417130,415110,413099,411098,409107,407125,405153,403190,401237,399294,397360,395435,393519,391613,389716,387828,385950,384080,382220,380368,378526,376692,374868,373052,371245,369446,367657,365876,364104,362340,360585,358838,357100,355370,353649,351936,350231,348534,346846,345166,343494,341830,340174,338526,336887,335255,333631,332015,330406,328806,327213,325628,324051,322481,320919,319365,317818,316278,314746,313221,311704,310194,308692,307196,305708,304228,302754,301287,299828,298376,296930,295492,294061,292636,291219,289808,288404,287007,285617,284233,282856,281486,280123,278766,277416,276072,274735,273404,272079,270761,269450,268145,266846,265553,264267,262987,261713,260445,259184,257928,256679,255435,254198,252967,251741,250522,249308,248101,246899,245703,244513,243328,242150,240977,239809,238648,237492,236341,235197,234057,232923,231795,230672,229555,228443,227336,226235,225139,224049,222964,221884,220809,219739,218675,217615,216561,215512,214468,213430,212396,211367,210343,209324,208310,207301,206297,205298,204303,203314,202329,201349,200373,199403,198437,197476,196519,195567,194620,193677,192739,191805,190876,189952,189031,188116,187204,186298,185395,184497,183604,182714,181829,180948,180072,179200,178331,177468,176608,175753,174901,174054,173211,172372,171537,170706,169879,169056,168237,167422,166611,165804,165001,164202,163406,162615,161827,161043,160263,159487,158714,157946,157181,156419,155661,154907,154157,153410,152667,151928,151192,150459,149731,149005,148283,147565,146850,146139,145431,144727,144026,143328,142634,141943,141255,140571,139890,139212,138538,137867,137199,136535,135873,135215,134560,133908,133260,132614,131972,131333,130696,130063,129433,128806,128182,127561,126944,126329,125717,125108,124502,123899,123298,122701,122107,121515,120927,120341,119758,119178,118601,118026,117454,116885,116319,115756,115195,114637,114082,113529,112979,112432,111887,111345,110806,110269,109735,109204,108675,108148,107624,107103,106584,106068,105554,105043,104534,104028,103524,103022,102523,102027,101532,101041,100551,100064,99579,99097,98617,98139,97664,97191,96720,96252,95785,95321,94860,94400,93943,93488,93035,92584,92136,91689,91245,90803,90363,89926,89490,89057,88625,88196,87769,87344,86921,86499,86080,85664,85249,84836,84425,84016,83609,83204,82801,82400,82001,81603,81208,80815,80423,80034,79646,79260,78876,78494,78114,77736,77359,76984,76611,76240,75871,75503,75138,74774,74412,74051,73692,73335,72980,72627,72275,71925,71576,71230,70885,70541,70200,69859,69521,69184,68849,68516,68184,67854,67525,67198,66872,66548,66226,65905,65586,65268,64952,64637,64324,64013,63703,63394,63087,62781,62477,62175,61874,61574,61276,60979,60683,60389,60097,59806,59516,59228,58941,58655,58371,58088,57807,57527,57248,56971,56695,56421,56147,55875,55605,55335,55067,54800,54535,54271,54008,53746,53486,53227,52969,52713,52457,52203,51950,51699,51448 },
            Color= "#6eb3ed",
            Marker=new Marker(false)
        },
        new SeriesElement()
        {
        Type = ChartType.Area,
            Name= "Retirement",
            Data= new List<object>() { 500000,500000,500001,500001,500001,500001,500001,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500001,500001,500001,500001,500001,500001,500001,500001,500001,500001,500001,500001,500001,500001,500001,500001,500001,500001,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500003,500003,500003,500003,500003,500003,500003,500003,500003,500003,500002,500002,500003,500003,500003,500003,500003,500003,500003,500003,500003,500003,500003,500003,500003,500003,500003,500003,500002,500002,500002,500002,500003,500002,500003,500003,500003,500003,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500001,500001,500001,500002,500002,500002,500002,500001,500001,500001,500001,500001,500002,500001,500001,500001,500002,500002,500001,500001,500001,500001,500001,500001,500001,500001,500001,500001,500001,500001,500001,500001,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500001,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500001,500002,500001,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500003,500003,500003,500003,500002,500002,500002,500002,500003,500002,500002,500002,500002,500003,500002,500002,500002,500002,500002,500002,500002,500002,500002,500003,500003,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500003,500002,500002,500002,500002,500002,500002,500002,500002,500002,500002,500003,500003,500003,500003,500003,500002,500002,500003,500002,500003,500003,500003,500003,500003,500003,500003,500003,500003,500003,500003,500003,500002,500003,500003,500002,500002,500003,500002,500002,500002,500002,500002,500002,499745,499488,499231,498975,498718,498461,498205,497949,497693,497437,497181,496925,496670,496414,496159,495904,495648,495393,495139,494884,494629,494375,494120,493866,493612,493358,493105,492851,492598,492344,492091,491838,491585,491332,491079,490827,490574,490322,490070,489818,489566,489314,489063,488811,488560,488308,488057,487806,487555,487305,487054,486803,486553,486303,486052,485802,485553,485303,485053,484804,484555,484305,484056,483807,483558,483310,483061,482813,482564,482316,482068,481820,481572,481325,481077,480830,480582,480335,480088,479841,479594,479348,479101,478855,478608,478362,478116,477870,477625,477379,477133,476888,476643,476398,476152,475908,475663,475418,475173,474929,474685,474441,474197,473953,473709,473465,473222,472978,472735,472492,472249,472006,471763,471520,471278,471035,470793,470551,470309,470067,469825,469583,469342,469100,468859,468618,468377,468136,467895,467655,467414,467174,466934,466693,466453,466214,465974,465734,465495,465255,465016,464776,464537,464298,464060,463821,463582,463344,463106,462867,462629,462391,462154,461916,461678,461441,461204,460966,460729,460492,460255,460019,459782,459546,459309,459073,458837,458601,458365,458129,457893,457658,457422,457187,456952,456717,456482,456247,456012,455778,455543,455309,455075,454841,454607,454373,454139,453906,453672,453439,453206,452973,452739,452507,452274,452041,451809,451576,451344,451112,450880,450648,450416,450185,449953,449721,449490,449259,449028,448797,448566,448335,448105,447874,447644,447414,447184,446953,446724,446494,446264,446035,445805,445576,445347,445118,444889,444660,444431,444203,443974,443746,443518,443290,443062,442834,442606,442378,442151,441923,441696,441469,441242,441015,440788,440561,440335,440108,439882,439656,439430,439203,438977,438752,438526,438300,438075,437850,437625,437400,437175,436950,436725,436500,436276,436051,435827,435603,435379,435155,434931,434707,434484,434260,434037,433814,433591,433368,433145,432922,432699,432477,432254,432032,431810,431587,431365,431144,430922,430700,430479,430257,430036,429815,429594,429373,429152,428931,428710,428490,428270 },
            Color= "#588dcc",
            Marker=new Marker(false)
        },
        new SeriesElement()
        {
        Type = ChartType.Area,
            Name= "Discretionary",
            Data= new List<object>(){ 33556,34567,35574,36577,37576,38571,39562,40550,41534,42514,43490,44463,45487,46508,47524,48537,49545,50550,51551,52547,53541,54529,55514,56496,57529,58560,59586,60608,61626,62640,63651,64658,65660,66659,67655,68646,69689,70729,71764,72796,73823,74847,75867,76883,77895,78903,79908,80909,81962,83011,84055,85096,86132,87166,88195,89220,90242,91260,92274,93284,94347,95405,96460,97511,98558,99601,100640,101675,102707,103734,104758,105779,106851,107919,108984,110045,111102,112154,113204,114249,115291,116328,117362,118392,119475,120553,121628,122699,123766,124829,125888,126943,127995,129043,130086,131126,132219,133307,134392,135473,136550,137624,138693,139759,140821,141878,142933,143983,145086,146184,147279,148370,149457,150540,151620,152695,153767,154834,155899,156960,58067,59098,60124,61147,62166,63181,64192,65199,66202,67202,68197,69189,70234,71274,72310,73343,74371,75395,76416,77433,78446,79455,80460,81462,82516,83566,84612,85654,86692,87726,88756,89783,90805,91824,92839,93851,532,533,534,535,536,537,538,540,541,543,544,545,547,548,549,551,552,553,554,555,556,558,559,560,562,563,564,566,567,569,570,571,572,574,575,576,577,579,580,582,583,584,586,587,588,590,591,592,593,595,597,598,600,601,602,604,605,606,608,609,610,612,613,615,616,618,619,621,622,623,625,626,628,629,631,632,634,635,637,638,639,641,642,644,645,647,648,650,651,653,654,656,657,659,661,662,664,665,667,668,670,671,673,674,676,677,679,680,682,684,685,687,689,690,692,693,695,697,698,700,701,703,704,706,708,710,711,713,714,716,718,719,721,723,724,726,728,729,731,733,735,736,738,740,741,743,745,747,748,750,752,754,755,757,759,760,762,764,766,768,769,771,773,775,777,778,780,782,784,786,787,789,791,793,795,797,798,800,802,804,806,808,810,811,813,815,817,819,821,823,825,827,829,831,833,835,836,838,840,842,844,846,848,850,852,854,856,858,860,862,864,866,868,870,872,874,876,878,881,883,885,887,889,891,893,895,897,899,901,903,905,908,910,912,914,916,918,920,922,925,927,929,931,933,935,938,940,942,944,946,948,951,953,955,957,960,962,964,966,969,971,973,975,978,980,982,985,987,989,991,994,996,998,1001,1003,1005,1008,1010,1012,1015,1017,1019,1022,1024,1026,1029,1031,1034,1036,1038,1041,1043,1046,1048,1051,1053,1055,1058,1060,1063,1065,1068,1070,1073,1075,1078,1080,1083,1085,1088,1090,1093,1095,1098,1101,1103,1106,1108,1111,1113,1116,1119,1121,1124,1126,1129,1132,1134,1137,1140,1142,1145,1148,1150,1153,1156,1158,1161,1164,1166,1169,1172,1175,1177,1180,1183,1186,1188,1191,1194,1197,1199,1202,1205,1208,1211,1214,1216,1219,1222,1225,1228,1231,1233,1236,1239,1242,1245,1248,1251,1254,1257,1260,1263,1265,1268,1271,1274,1277,1280,1283,1286,1289,1292,1295,1298,1301,1304,1307,1310,1313,1316,1319,1323,1326,1329,1332,1335,1338,1341,1344,1347,1350,1354,1357,1360,1363,1366,1369,1373,1376,1379,1382,1385,1389,1392,1395,1398,1402,1405,1408,1411,1415,1418,1421,1425,1428,1431,1435,1438,1441,1445,1448,1451,1455,1458,1461,1465,1468,1472,1475,1479,1482,1485,1489,1492,1496,1499,1503,1506,1510,1513,1517,1520,1524,1527,1531,1535,1538,1542,1545,1549,1553,1556 },
            Color= "#4067a0",
            Marker=new Marker(false)
        },
        new SeriesElement()
            {
            Type = ChartType.Area,
                Name= "businessasset",
                Data= new List<object>(){ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 },
                Color= "#61c4b1",
                Marker=new Marker(false)
            },
        new SeriesElement()
            {
            Type = ChartType.Area,
                Name= "property",
                Data= new List<object>(){ 2960725,2965340,2969963,2974592,2979229,2983873,2988524,2993183,2997849,3002522,3007203,3011890,3016586,3021288,3025998,3030715,3035440,3040172,3044912,3049658,3054412,3059173,3063942,3068718,3073502,3078293,3083092,3087898,3092712,3097533,3102362,3107198,3112042,3116893,3121752,3126618,3131492,3136374,3141263,3146160,3151065,3155977,3160897,3165824,3170760,3175703,3180653,3185612,3190578,3195551,3200533,3205522,3210519,3215524,3220536,3225557,3230585,3235621,3240665,3245716,3250776,3255844,3260920,3266003,3271095,3276194,3281301,3286417,3291540,3296671,3301810,3306957,3312113,3317276,3322447,3327626,3332813,3338008,3343212,3348424,3353644,3358871,3364107,3369351,3374604,3379865,3385133,3390411,3395696,3400990,3406292,3411602,3416920,3422246,3427581,3432924,3438276,3443636,3449004,3454381,3459766,3465159,3470561,3475971,3481390,3486816,3492252,3497696,3503148,3508609,3514079,3519557,3525044,3530539,3536043,3541555,3547076,3552606,3558143,3563690,3569245,3574809,3580382,3585964,3591554,3597153,3602760,3608377,3614002,3619636,3625278,3630930,3636590,3642259,3647936,3653623,3659319,3665023,3670737,3676459,3682191,3687931,3693680,3699438,3705205,3710981,3716766,3722560,3728363,3734175,3739996,3745826,3751666,3757514,3763372,3769238,3775114,3780999,3786893,3792797,3798709,3804631,3810562,3816502,3822452,3828411,3834379,3840356,3846343,3852339,3858345,3864359,3870384,3876417,3882460,3888513,3894575,3900646,3906726,3912816,3918916,3925026,3931144,3937273,3943411,3949558,3955715,3961881,3968057,3974243,3980438,3986643,3992858,3999083,4005317,4011561,4017814,4024078,4030351,4036634,4042926,4049229,4055541,4061864,4068195,4074537,4080889,4087251,4093622,4100004,4106396,4112797,4119208,4125630,4132061,4138503,4144954,4151416,4157887,4164369,4170860,4177362,4183874,4190397,4196929,4203472,4210024,4216587,4223161,4229744,4236338,4242942,4249556,4256181,4262815,4269461,4276116,4282782,4289459,4296146,4302843,4309550,4316269,4322997,4329736,4336486,4343246,4350017,4356798,4363590,4370393,4377205,4384029,4390863,4397708,4404563,4411429,4418306,4425194,4432092,4439001,4445921,4452852,4459793,4466746,4473709,4480683,4487668,4494664,4501671,4508688,4515717,4522757,4529807,4536868,4543941,4551024,4558119,4565225,4572341,4579469,4586608,4593758,4600919,4608092,4615275,4622470,4629676,4636893,4644121,4651361,4658612,4665874,4673148,4680433,4687729,4695037,4702356,4709686,4717028,4724381,4731746,4739122,4746510,4753909,4761320,4768742,4776176,4783622,4791079,4798548,4806028,4813520,4821024,4828539,4836066,4843605,4851156,4858718,4866292,4873878,4881476,4889086,4896708,4904341,4911986,4919644,4927313,4934994,4942687,4950392,4958110,4965839,4973580,4981333,4989098,4996876,5004665,5012467,5020281,5028107,5035945,5043796,5051659,5059534,5067421,5075320,5083232,5091157,5099093,5107042,5115003,5122977,5130963,5138962,5146973,5154996,5163032,5171081,5179142,5187216,5195302,5203401,5211513,5219637,5227773,5235923,5244085,5252260,5260448,5268648,5276862,5285088,5293327,5301578,5309843,5318120,5326411,5334714,5343030,5351359,5359702,5368057,5376425,5384806,5393201,5401608,5410029,5418462,5426909,5435369,5443842,5452328,5460828,5469341,5477867,5486406,5494959,5503525,5512104,5520697,5529303,5537923,5546556,5555203,5563862,5572536,5581223,5589923,5598637,5607365,5616106,5624861,5633630,5642412,5651208,5660018,5668841,5677678,5686529,5695394,5704272,5713164,5722071,5730991,5739925,5748873,5757835,5766810,5775800,5784804,5793822,5802854,5811900,5820960,5830034,5839123,5848225,5857342,5866473,5875618,5884778,5893951,5903139,5912342,5921558,5930790,5940035,5949295,5958569,5967858,5977161,5986479,5995811,6005158,6014519,6023895,6033286,6042691,6052111,6061546,6070995,6080459,6089938,6099431,6108940,6118463,6128001,6137554,6147122,6156704,6166302,6175915,6185542,6195185,6204842,6214515,6224203,6233906,6243624,6253357,6263105,6272869,6282647,6292441,6302251,6312075,6321915,6331770,6341641,6351527,6361428,6371345,6381277,6391225,6401188,6411167,6421161,6431171,6441196,6451237,6461294,6471367,6481455,6491559,6501678,6511814,6521965,6532132,6542315,6552514,6562728,6572959,6583205,6593468,6603746,6614041,6624351,6634678,6645021,6655380,6665755,6676146,6686553,6696977,6707417,6717873,6728345,6738834,6749339,6759861,6770399,6780953,6791524,6802111,6812715,6823335,6833972,6844625,6855295,6865982,6876685,6887405,6898142,6908895,6919666,6930453,6941256,6952077,6962915,6973769,6984640,6995529,7006434,7017356,7028295,7039252,7050225,7061216,7072223,7083248,7094290,7105350,7116426,7127520,7138631,7149759,7160905,7172068,7183248,7194446,7205662,7216895,7228145,7239413,7250698,7262001,7273322,7284660,7296016,7307390,7318781,7330191,7341618,7353062,7364525,7376006,7387504,7399020,7410555,7422107,7433677,7445265,7456872,7468496,7480139,7491799,7503478,7515175,7526891,7538624,7550376,7562147,7573935,7585742,7597567,7609411,7621273,7633154,7645053,7656971,7668908,7680863,7692836,7704829,7716840,7728869,7740918,7752985,7765071 },
                Color= "#2ea08a",
                Marker=new Marker(false)
            },

            new SeriesElement()
            {
            Type= ChartType.Spline,
                Name= "debt",
                Data= new List<object>(){ 3833967,3800353,3766834,3733411,3700081,3666845,3633703,3600651,3567692,3534823,3502044,3469353,3434048,3398834,3363709,3328672,3293723,3258860,3224084,3189393,3154785,3120262,3085821,3051462,3014483,2977586,2940772,2904039,2867387,2830814,2794319,2757903,2721564,2685301,2649115,2613002,2574262,2535597,2497006,2458490,2420047,2381676,2343375,2305146,2266986,2228895,2190872,2152915,2112324,2071799,2031342,1990950,1950682,1929596,1908575,1887617,1866724,1845893,1825125,1804419,1782185,1760016,1737910,1715867,1693888,1671969,1650113,1628318,1606583,1584909,1563296,1541741,1518656,1495632,1472669,1449767,1426924,1404140,1381416,1358749,1336141,1313590,1291097,1268660,1244690,1220778,1196924,1173128,1149388,1125705,1102078,1078506,1054989,1031528,1008120,984766,959875,935039,910259,885533,860861,836242,811676,787163,762702,738292,713933,689625,663777,637982,612238,586546,560904,535313,509772,484279,458836,433441,408094,382795,355952,329158,302414,275717,249067,222465,195909,169400,142936,116516,90142,63811,35934,8104,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 },
                LineWidth= 3,
                LineColor= "red",
                Color= "red",
                Marker=new Marker()
                {
                    LineWidth= 3,
                    LineColor= "red",
                    FillColor= "black"
                },
            }
    };

    public List<object> columDat { get; set; } = new List<object>()
{
            new Datum("Assets", 2000, "red"),
            new Datum("Liability", 2000, "yellow"),
            new Datum("Income", 2000, "green"),
            new Datum("Expence", 3000, "black")
        };

    public void ChangeData()
    {
        var rand = new Random();

        dat = rand.Next(0, 100);
        dat1 = rand.Next(0, 100);
        dat2 = rand.Next(0, 100);
        dat3 = rand.Next(0, 100);
        dat4 = rand.Next(0, 100);
        dat5 = rand.Next(0, 100);

        columDat = new List<object>()
{
            new Datum("Assets", rand.Next(0, 100000), "red"),
            new Datum("Liability", rand.Next(0, 100000), "yellow"),
            new Datum("Income", rand.Next(0, 100000), "green"),
            new Datum("Expenses", rand.Next(0, 100000), "black")
        };

    }

}
