@page "/"
@page "/test"

<h3>TestPage</h3>

<div style="font-family:sans-serif" class="row">

<AvalonSolidGauge data=@dat sameColorTitle="false"></AvalonSolidGauge>
<AvalonSolidGauge uniqueID="12345" data=@dat1  ></AvalonSolidGauge>
<AvalonSolidGauge uniqueID="1235" data=@dat2 ></AvalonSolidGauge>
<AvalonSolidGauge uniqueID="12350" data=@dat3 ></AvalonSolidGauge>
<AvalonSolidGauge uniqueID="1236" data=@dat4 ></AvalonSolidGauge>
<AvalonSolidGauge uniqueID="123" data=@dat5 innerRadius="70%" outerRadius="100%"></AvalonSolidGauge>

</div>
<br />

<div class="row">


    <button @onclick="ChangeData">Push me</button>
</div>

<div class="row">
    <AvalonDoubleColumn pointWidth="60" ChartHeight="400" ChartWidth="300"  data="columDat"></AvalonDoubleColumn>

</div>

@code {

    public long? dat { get; set; } = 69;
    public long? dat1 { get; set; } = 69;
    public long? dat2 { get; set; } = 69;
    public long? dat3 { get; set; } = 69;
    public long? dat4 { get; set; } = 69;
    public long? dat5 { get; set; } = 69;

    public List<object> columDat { get; set; }

    public void ChangeData()
    {
        var rand = new Random();

        dat = rand.Next(0,100);
        dat1 = rand.Next(0,100);
        dat2 = rand.Next(0,100);
        dat3 = rand.Next(0,100);
        dat4 = rand.Next(0,100);
        dat5 = rand.Next(0,100);

        columDat = new List<object>()
        {
            new Datum("Assets", dat, "red"),
            new Datum("Liabilities", dat1, "green")
        };

    }

}
