<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor Highcharts</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="basic-line-chart" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Basic Line Chart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="column-chart">
                <span class="oi oi-plus" aria-hidden="true"></span> Column Chart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bar-chart">
                <span class="oi oi-plus" aria-hidden="true"></span> Bar Chart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="scatter-chart">
                <span class="oi oi-plus" aria-hidden="true"></span> Scatter Chart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="area-chart">
                <span class="oi oi-plus" aria-hidden="true"></span> Area Chart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="pie-chart">
                <span class="oi oi-plus" aria-hidden="true"></span> Pie Chart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="doughnut-gauge">
                <span class="oi oi-plus" aria-hidden="true"></span> Solid Gauge
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="combo-chart">
                <span class="oi oi-plus" aria-hidden="true"></span> Combo Chart
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
