@page "/pie-chart-3d"
@inject IChartService chartService
@inject IJSRuntime jsRuntime


<h3>Pie Chart</h3>

<figure class="highcharts-figure">
    <div id="piechart3d"></div>
</figure>

<h4>Code Example</h4>
<pre class="prettyprint opacity-load">
@@code {

    private ChartObject PieChart3D = new ChartObject()
    {
        Chart = new Chart(ChartType.Pie, null,null, null,null,null,null,null,null, new Options3D(true, 45, 0)),
        Tooltip = new Tooltip(true, "{series.name}: <b>{point.percentage:.1f}%</b>"),
        Legend = new Legend(true),
        PlotOptions = new PlotOptions()
        {
            Pie = new PlotOptionsPie()
            {
                AllowPointSelect = true,
                Cursor = CursorType.Pointer,
                Depth = 35,
                DataLabels = new Labels()
                {
                    Enabled = true,
                    Format = "{point.name}"
                }
            }
        },
        Title = new Title("Browser market shares at a specific website, 2014"),
        Series = new List&lt;SeriesElement>()
        {
            new SeriesElement()
            {
                Name = "Browser share",
                Type = "pie",
                Data = new List&lt;object>()
                {
                    {new List&lt;object>(){ "Chrome", 61.4 } },
                    {new List&lt;object>(){ "Internet Explorer", 11.84 } },
                    {new List&lt;object>(){ "Firefox", 10.85 } },
                    {new List&lt;object>(){ "Edge", 4.67 } },
                    {new List&lt;object>(){ "Safari", 4.18 } },
                    {new List&lt;object>(){ "Other", 7.05 } }
                }

            }
        }
    };

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            Console.WriteLine(PieChart3D.Generate());
            chartService.RenderChart("piechart3d", PieChart3D.Generate());
            jsRuntime.InvokeVoidAsync("prettyPrint");
        }
    }

}


</pre>


@code {

    private ChartObject PieChart3D = new ChartObject()
    {
        Chart = new Chart(ChartType.Pie, null,null, null,null,null,null,null,null, new Options3D(true, 45, 0)),
        Tooltip = new Tooltip(true, "{series.name}: <b>{point.percentage:.1f}%</b>"),
        Legend = new Legend(true),
        PlotOptions = new PlotOptions()
        {
            Pie = new PlotOptionsPie()
            {
                AllowPointSelect = true,
                Cursor = CursorType.Pointer,
                Depth = 35,
                DataLabels = new Labels()
                {
                    Enabled = true,
                    Format = "{point.name}"
                }
            }
        },
        Title = new Title("Browser market shares at a specific website, 2014"),
        Series = new List<SeriesElement>()
        {
            new SeriesElement()
            {
                Name = "Browser share",
                Type = "pie",
                Data = new List<object>()
                {
                    {new List<object>(){ "Chrome", 61.4 } },
                    {new List<object>(){ "Internet Explorer", 11.84 } },
                    {new List<object>(){ "Firefox", 10.85 } },
                    {new List<object>(){ "Edge", 4.67 } },
                    {new List<object>(){ "Safari", 4.18 } },
                    {new List<object>(){ "Other", 7.05 } }
                }

            }
        }
    };

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            //Console.WriteLine(PieChart3D.Generate());
            chartService.RenderChart("piechart3d", PieChart3D.Generate());
            jsRuntime.InvokeVoidAsync("prettyPrint");
        }
    }

}
