@page "/doughnut-gauge"
@inject IChartService chartService
@inject IJSRuntime jsRuntime

<h3>Solid Gauge</h3>

<figure class="highcharts-figure" style="width: 600px">
    <div id="doughnutgauge"></div>
</figure>


<h4>Code Example</h4>
<pre class="prettyprint opacity-load">
@@code {
    private ChartObject SolidGauge = new ChartObject()
    {
        Chart = new Chart()
        {
            StyledMode = false,
            Type = ChartType.SolidGauge,
            Width = 250,
            Height = 250,
            Spacing = new List&lt;double>() { 0, 0, 0, 0 },
            Margin = new List&lt;double>() { 0, 0, 0, 0 },
            BackgroundColor = null,
            Animation = new Animation(2000)

        },
        Exporting = new Exporting()
        {
            Buttons = new Buttons(false)
        },
        Legend = new Legend(true),
        Credits = new Credits(false),
        Title = new Title()
        {
            Text = "Solidness",
            VerticalAlign = VerticalAlign.Middle,
            Floating = true,
            Style = new Style()
            {
                Color = "#666",
                FontWeight = "bold",
                FontSize = "24px",
                FontFamily = "Roboto"
            },
            Y = 9
        },
        Pane = new Pane()
        {
            StartAngle = -90,
            EndAngle = 90,
            Center = new List&lt;string>() {"50%","50%" },
            Background = new List&lt;Background>()
            {
               new Background()
               {
                   BackgroundColor = "#EBEBEB",
                   OuterRadius = "100%",
                   InnerRadius = "60%",
                   BorderWidth = 0,
                   Shape = BackgroundShape.Arc

               }
            }

        },
        YAxis = new YAxis()
        {
            Min = 0,
            Max = 100,
            LineWidth = 0,
            TickPositions = new List&lt;object>(),
            Stops = new List&lt;object>()
            {
                new List&lt;object>(){0.1, "#ea6868"},
                new List&lt;object>(){0.49, "#ea6868"},
                new List&lt;object>(){0.5, "#fbaf5f"},
                new List&lt;object>(){0.69, "#fbaf5f"},
                new List&lt;object>(){0.7, "#5bc9b3"}
            }
        },
        PlotOptions = new PlotOptions()
        {
            Series = new PlotOptionsSeries()
            {
                Animation = new Animation(2000)
            },
            Solidgauge = new Solidgauge()
            {
                DataLabels = new Labels(false),
                StickyTracking = false,
                Rounded = true
            }
        },
        Tooltip = new Tooltip()
        {
            Enabled = false
        },
        Series = new List&lt;SeriesElement>()
        {
            new SeriesElement()
            {
                Name = "Hit Rate",
                Data = new List&lt;object>()
                {
                    new Datum()
                    {
                        Radius = "100%",
                        InnerRadius = "90%",
                        Y = 25,
                        BorderRadius = "10px"
                    },
                    new Datum()
                    {
                        Radius = "90%",
                        InnerRadius = "80%",
                        Y = 50,
                        BorderRadius = "10px"
                    },
                    new Datum()
                    {
                        Radius = "80%",
                        InnerRadius = "70%",
                        Y = 75,
                        BorderRadius = "10px"
                    },
                    new Datum()
                    {
                        Radius = "70%",
                        InnerRadius = "60%",
                        Y = 100,
                        BorderRadius = "10px"
                    }
                }
            }
        }
    };





    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        chartService.RenderChart("doughnutgauge", SolidGauge.Generate());
        jsRuntime.InvokeVoidAsync("prettyPrint");
    }
}


</pre>

@code {
    private ChartObject SolidGauge = new ChartObject()
    {
        Chart = new Chart()
        {
            StyledMode = false,
            Type = ChartType.SolidGauge,
            Width = 250,
            Height = 250,
            Spacing = new List<int?>() { 0, 0, 0, 0 },
            Margin = new List<int?>() { 0, 0, 0, 0 },
            BackgroundColor = null,
            Animation = new Animation(2000)

        },
        Exporting = new Exporting()
        {
            Buttons = new Buttons(false)
        },
        Legend = new Legend(true),
        Credits = new Credits(false),
        Title = new Title()
        {
            Text = "Solidness",
            VerticalAlign = VerticalAlign.Middle,
            Floating = true,
            Style = new Style()
            {
                Color = "#666",
                FontWeight = "bold",
                FontSize = "24px",
                FontFamily = "Roboto"
            },
            Y = 9
        },
        Pane = new Pane()
        {
            StartAngle = -90,
            EndAngle = 90,
            Center = new List<string>() {"50%","50%" },
            Background = new List<Background>()
            {
               new Background()
               {
                   BackgroundColor = "#EBEBEB",
                   OuterRadius = "100%",
                   InnerRadius = "60%",
                   BorderWidth = 0,
                   Shape = BackgroundShape.Arc

               }
            }

        },
        YAxis = new YAxis()
        {
            Min = 0,
            Max = 100,
            LineWidth = 0,
            TickPositions = new List<object>(),
            Stops = new List<object>()
            {
                new List<object>(){0.1, "#ea6868"},
                new List<object>(){0.49, "#ea6868"},
                new List<object>(){0.5, "#fbaf5f"},
                new List<object>(){0.69, "#fbaf5f"},
                new List<object>(){0.7, "#5bc9b3"}
            }
        },
        PlotOptions = new PlotOptions()
        {
            Series = new PlotOptionsSeries()
            {
                Animation = new Animation(2000)
            },
            Solidgauge = new PlotOptionsSolidgauge()
            {
                DataLabels = new Labels(false),
                StickyTracking = false,
                Rounded = true
            }
        },
        Tooltip = new Tooltip()
        {
            Enabled = false
        },
        Series = new List<SeriesElement>()
        {
            new SeriesElement()
            {
                Name = "Hit Rate",
                Data = new List<object>()
                {
                    new Datum()
                    {
                        Radius = "100%",
                        InnerRadius = "90%",
                        Y = 25,
                       // BorderRadius = "0px"
                    },
                    new Datum()
                    {
                        Radius = "90%",
                        InnerRadius = "80%",
                        Y = 50,
                      //  BorderRadius = "10px"
                    },
                    new Datum()
                    {
                        Radius = "80%",
                        InnerRadius = "70%",
                        Y = 75,
                      //  BorderRadius = "20px"
                    },
                    new Datum()
                    {
                        Radius = "70%",
                        InnerRadius = "60%",
                        Y = 100,
                      //  BorderRadius = "50px"
                    }
                }
            }
        }
    };





    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        chartService.RenderChart("doughnutgauge", SolidGauge.Generate());
        jsRuntime.InvokeVoidAsync("prettyPrint");
    }
}
